<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @credential.category %>
</p>

<p>
  <b>Url:</b>
  <%= @credential.url %>
</p>
<p>
  <b>Username:</b>
  <%= @credential.username %>
</p>
<p>
  <b>Password:</b>
  <%= @credential.password %>
</p>

<p>
  <b>Notes:</b>
  <%= @credential.notes %>
</p>


<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
